<div class="info">

	<p><span class="info_label">From: </span><%= @journey.origin_string %> </p>

	<p><span class="info_label">To: </span><%= @journey.destination_address %> </p>

	<p><span class="info_label">Arriving By: </span><%= @journey.time_must_arrive_by.localtime.strftime("%l:%M %P on %A, %b %-d") %></p>

</div>

<div class="departures">
	<table>
		<tbody>
			<tr>
				<th><h2>Depart</h2></th>
				<th><h2>Arrive</h2></th>
				<th><h2>Travel Time</h2></th>
			</tr>

			<% @journey.routes.each do |route| %>
				<tr>
					<td class="depart"><%= route.departure_time.strftime("%l:%M %P") %></td>
					<td class="arrive"><%= route.arrival_time.strftime("%l:%M %P") %></td>
					<td class="travel_time"><%= route.travel_time %> min</td>
				</tr>
			<% end %>

		</tbody>
	</table>
</div>

<h2>Driving Directions</h2>

<div class="directions">
	<ol>
		<% @route_1.directions.each do |step| %>
			<li><%= step %></li>
		<% end %>
	</ol>
</div>

<br>
<p><%= button_to "Create a New Journey", new_journey_path %></p>
