<h2>Journey: <%= @journey.name %></h2>

<p>From: <%= @journey.origin_string %> (located at <%= @journey.origin_coordinates %>)</p>
<p>To: <%= @journey.destination_address %> (located at <%= @journey.destination_coordinates %>)</p>
<p>Arriving By: <%= @journey.time_must_arrive_by.strftime("%l:%M%P on %A, %b %-d") %></p>

<h2>Routes</h2>

<p><strong>Route 1:</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	Travel Time: <%= @route_1.travel_time %> mins &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	Depart: <%= @route_1.departure_time.strftime("%l:%M%P") %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	Arrive: <%= @route_1.arrival_time.strftime("%l:%M%P") %>
</p>
