<div class="info">

	<div class="info_row">
		<div class="info_label">From: </div>
		<div class="info_desc"><%= @journey.origin_string %></div>
	</div>

	<div class="info_row">
		<div class="info_label">To: </div>
		<div class="info_desc"><%= @journey.destination_address %></div>
	</div>

	<div class="info_row">
		<div class="info_label">Arriving By: </div>
		<div class="info_desc"><%= @journey.time_must_arrive_by.localtime.strftime("%l:%M %P on %A, %b %-d") %></div>
	</div>

</div>

<div class="departures">
	<table>
		<tbody>
			<tr>
				<th><h2>Depart</h2></th>
				<th><h2>Arrive</h2></th>
				<th><h2>Driving Time</h2></th>
			</tr>

			<% @journey.routes.reverse.each do |route| %>
				<tr>
					<td class="depart"><%= route.departure_time.strftime("%l:%M %P") %></td>
					<td class="arrive"><%= route.arrival_time.strftime("%l:%M %P") %></td>
					<td class="travel_time"><%= route.readable_travel_time %></td>
				</tr>
			<% end %>

		</tbody>
	</table>
</div>

<h2>Driving Directions</h2>

<div class="directions">
	<ol>
		<% @route_1.directions.each do |step| %>
			<li><%= step %></li>
		<% end %>
	</ol>
</div>

<%= button_to "Search Again", root_path, method: :get %>
