<div class="input_form">

	<%= form_for @journey do |f| %>

		<div class="input_row">
			<%= f.label :origin_string, "From: ", class: "input_label" %>
			<%= f.text_field :origin_string, placeholder: "street address", class: "input_box" %>
		</div>

		<div class="input_row">
			<%= f.label :destination_string, "To: ", class: "input_label"  %>
			<%= f.text_field :destination_string, placeholder: "street address", class: "input_box" %>
		</div>

		<div class="input_row">
			<%= f.label :time_must_arrive_by_string, "Arrive By: ", class: "input_label"  %>
			<%= f.text_field :time_must_arrive_by_string, placeholder: "e.g. Tuesday 9am", class: "input_box" %>
		</div>

</div>


		<%= f.submit "Get Driving Times" %>

	<% end %>

