<h2>Journey: <%= @journey.name %></h2>

<p>From: <%= @journey.origin %></p>
<p>To: <%= @journey.destination %></p>
<p>Arriving By: <%= @journey.time_must_arrive_by %></p>
<p>On Date: <%= @journey.day_of_travel %></p>

<h2>Route Options</h2>

<p>Route 1...</p>
<p>Route 2...</p>
<p>Route 3...</p>
