<!DOCTYPE html>
<html>
<head>
  <title>When Should I Leave?</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <link href='http://fonts.googleapis.com/css?family=Glass+Antiqua' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to "When Should I Leave?", root_path %></h1>

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <%= content_tag :div, msg, class: "flash_#{name}" %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
